In [1]:
import pandas as pd

In [2]:
df_station = pd.read_csv('station.csv')
df_station.keys()

Index(['station_id', 'name', 'lat', 'long', 'install_date',
       'install_dockcount', 'modification_date', 'current_dockcount',
       'decommission_date'],
      dtype='object')

In [3]:
df_weather = pd.read_csv('weather.csv')
df_weather.keys()

Index(['Date', 'Max_Temperature_F', 'Mean_Temperature_F', 'Min_TemperatureF',
       'Max_Dew_Point_F', 'MeanDew_Point_F', 'Min_Dewpoint_F', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_Pressure_In',
       'Mean_Sea_Level_Pressure_In', 'Min_Sea_Level_Pressure_In',
       'Max_Visibility_Miles', 'Mean_Visibility_Miles', 'Min_Visibility_Miles',
       'Max_Wind_Speed_MPH', 'Mean_Wind_Speed_MPH', 'Max_Gust_Speed_MPH',
       'Precipitation_In', 'Events'],
      dtype='object')

In [4]:
df_trip = pd.read_csv('trip.csv',error_bad_lines=False)
df_trip.info()

b'Skipping line 50794: expected 12 fields, saw 20\n'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286857 entries, 0 to 286856
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            286857 non-null  int64
 1   starttime          286857 non-null  object
 2   stoptime           286857 non-null  object
 3   bikeid             286857 non-null  object
 4   tripduration       286857 non-null  float64
 5   from_station_name  286857 non-null  object
 6   to_station_name    286857 non-null  object
 7   from_station_id    286857 non-null  object
 8   to_station_id      286857 non-null  object
 9   usertype           286857 non-null  object
 10  gender             181557 non-null  object
 11  birthyear          181553 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 26.3+ MB

# What is the average trip duration for a borrowed bicycle?

In [5]:

df_trip['tripduration'].mean()

1178.2956753399776

# What’s the most common age of a bicycle-sharer?

In [6]:
common_birthyear=df_trip['birthyear'].mode()[0]
common_age=round(2020-common_birthyear)
common_age

33

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [12]:
def to_month(cell):
    return int(cell.split('/')[0])
df_weather['Month']=df_weather['Date'].apply(to_month)
df_weather['Month']

0      10
1      10
2      10
3      10
4      10
       ..
684     8
685     8
686     8
687     8
688     8
Name: Month, Length: 689, dtype: int64

In [13]:
df_weather.groupby('Month')['Precipitation_In'].mean()

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [14]:

df_weather.groupby('Month')['Precipitation_In'].median()

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

# What’s the average number of bikes at a given bike station?

In [7]:
with_decommission_date = df_station[df_station['decommission_date'].isnull()]
'''
isnull(): Detect missing values for an array-like object.
'''
with_decommission_date['current_dockcount'].mean()

17.74074074074074

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [16]:
station=df_station[['modification_date','install_dockcount','current_dockcount']].dropna()
station['current_dockcount'].sum()-station['install_dockcount'].sum()

-64

# Come up with 3 more questions that can be answered with this data set.

# What is the maximum five temperature at all days ?

In [8]:

df_weather.sort_values('Max_Temperature_F', ascending=False).head()[['Date','Max_Temperature_F']]

          Date  Max_Temperature_F
279  7/19/2015                 98
676  8/19/2016                 95
263   7/3/2015                 93
291  7/31/2015                 93
682  8/25/2016                 93